<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageBlurEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E65A15CE1E0258BD0017E461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E65A15E21E0258BD0017E461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E65A15ED1E0258BD0017E461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
